
<div id="main">
<%= image_tag('thataccent.png', :size => "400x124") %>

<h3 id="2nd">Language Education For The Future</h3>
<%= form_for @beta, :url => { :action => :create } do |f| %>
  
  <%= f.text_field :email, :size => 10, :placeholder => "Your E-mail" %>
  <div id="submit">
  <%= f.submit "Beta Sign Up", :class => "btn btn-large" %>
  </div>
<% end  %>




</div>
