
<br/>
<br/>
<br/>
<div class="span-18">
  <h2>How do you learn a new language? <a href="/sign_up">Signup for Beta testing!</a></h2>
  <div id="first" class="span-18">
    <img class="left" src="#"/>
    <div class="migi">
      <h3>Learn by doing</h3>
      <p>We all know that kids have a natural ability to learn new languages. Believe it or not, adults still retain some of that natural ability but we use both the creative <strong>AND</strong> logical sides of our brains to work out how a certain word or grammar form works.
      <p>
        <a href="#">Learn how we fulfill this requirement</a>
      </p>
    </div>
  </div>
  <div id="second" class="span-18">
    <img class="right" src="#"/>
    <div class="hidari">
      <h3>A well-rounded approach</h3>
      <p>Ever find yourself reading a textbook</p>
      <p>
        <a href="#">Learn how we fulfill this requirement</a>
      </p>
    </div>
  </div>
  <div id="third" class="span-18">
    <img class="left" src="#"/>
    <div class="migi">
      <h3>Positive feedback</h3>
      <p>Constructive and positive feedback is essential for anyone to actively learn a language.  "</p>
      <p>
        <a href="#">Learn how we fulfill this requirement</a>
      </p>
    </div>
  </div>
</div>