<h1 id="main">Language Education is <span id="main">BROKEN</span></h1>
<p id="second">Help me fix it!</p>
<input type="text" placeholder="Your E-mail" id="email" name="person[first_name]" size="30" type="text" />
<a class="btn btn-large">Beta Sign Up</a>