
<div class="box">
<h2 id="how">How does ComboTok work?</h2>
  
  <div class="row">
    <img class="images" src="testimg.png"/>
  <div class="texts">
  <h3>Choose A Lesson</h3>
  <p>ComboTok is filled with small customizable lessons.  Each lesson includes useful vocab and grammar points.</p>
  <p>
    <a href="#">Learn More</a>
  </p>
  </div>
  </div>

 
  <div class="row">
    <img class="images" src="testimg.png"/>
  <div class="texts">
  <h3>Study Up!</h3>
  <p>Each lesson at ComboTok includes tools to help you pronounce and use each word.  We'll also make sure to give plenty of example sentences.</p>
  <p>
    <a href="#">Learn More</a>
  </p>
  </div>
  </div>

  <div class="row">
    <img class="images" src="images/testimg.png"/>
  <div class="texts">
  <h3>Say Hello!</h3>
  <p>All of this studying was not for nothing!  Press on the big blue button and you will be matched with a native speaker.  Worried you won't be able to communicate? Don't worry, they know which lesson you're studying so they can help you out.  Remember to have fun and make new friends!</p>
  <p>
    <a href="#">Learn More</a>
  </p>
  </div>
  </div>
<br/>
  <a id="betasignup" class="btn-large btn-primary" href="/sign_up">Signup for Beta!</a>
</div>