<div class="home2">
  <h1>Why Language Education Is</h1>
  <h1>BROKEN</h1>
</div>

<div class="row">
  <div class="span3">
  <h1>Software</h1>
  <ol>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ol>
  </div>
  
  <div class="span3">
  <h1>Schools</h1>
  <ol>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ol>
  </div>
  
  <div class="span3">
  <h1>Tutors</h1>
  <ol>
    <li>list</li>
    <li>list</li>
    <li>list</li>
  </ol>
  </div>
  
</div>
  
  
<div class="row">
  <div class="home2">
    <h1>AND</h1>
    <h1>How WE Can Fix It!</h1>
  </div>
</div>

<div class="row">
  <div class="home2">
    <a href="/sign_up" style="text-align:center;" class="btn btn-success">Beta Sign Up</a>
  </div>
</div>