<div class="row">
  
  <div class="span6">
    <h1 id="main" style="text-align:left;">
      <strong>Do You <i>Actually</i> Want To Learn a New Language?</strong>
    </h1>
    <p style="padding-left:10px;">People learn languages through <strong>Immersion</strong>, free-form <strong>conversations</strong> and spontaneous <strong>situations</strong>-- NOT in classrooms</p>
  </div>
  
  <div class="span3">
    <%= image_tag("confused.jpg", :size => "200x200") %>
  </div>
  
</div>

<br/>

<div id="for" class="row">
  
  <div class="span3">
    <h2>Immersion</h2>
    <p>Test test</p>
    <a id="forbtn" class="btn">Learn More</a>
  </div>
  
  <div class="span3">
    <h2>Conversation</h2>
    <p>Test test</p>
    <a id="forbtn" class="btn">Learn More</a>
  </div>
  
  <div class="span3">
    <h2>Situations</h2>
    <p>Test test</p>
    <a id="forbtn" class="btn">Learn More</a>
  </div>
  
</div>
