<div class="row">
<div class="span6">
<h1 style="text-align:left;"><strong>Why Language Education Sucks</strong></h1>
<p>It sucks because it sucks</p>

</div>
<div class="span3">
  <img src="#" id="firstimg"/>
</div>
</div>

<br/>

<div id="for" class="row">
<div class="span3">
  <h2>For Students</h2>
  <p>Test test</p>
  <a class="btn">Learn More</a>
</div>
<div class="span3">
  <h2>For Professionals</h2>
  <p>Test test</p>
  <a class="btn">Learn More</a>
</div>
<div class="span3">
  <h2>For Travellers</h2>
  <p>Test test</p>
  <a class="btn">Learn More</a>
</div>
</div>
