// Place all the styles related to the Beta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
    margin-top:100px;
    margin-left:20%;
    margin-right:50%;
    width:360px;
}
#main h3 {
    font-size:19px;
    text-align:center;
    margin-left:30px;
}
#beta_email {
    margin-left:43px;
    margin-top:5px;
    margin-bottom:5px;
}
#submit {
    margin-left:30%;
    margin-right:50%;
}
#main img {
    margin-left:5px;
}