// Place all the styles related to the Beta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
    margin-top:100px;
    margin-left:20%;
    margin-right:50%;
    width:360px;
}
#main h3 {
    font-size:24px;
    text-align:center;
    margin-left:78px;
    width:400px;
}
#beta_email {
    padding:5px;
    margin:5px;
    position:relative;
    left:115px;
}
#submit {
    position:relative;
    left:64px;
}
#main img {
    margin-left:20%;
    margin-right:50%;
}
#logo a img {
    margin-top:8px;
}
body {
    background:-webkit-gradient(radial, 50% 20%, 60, 50% 20%, 580, from(#f4fafe), to(#a2d2ed)) no-repeat #a2d2ed;
    background: -moz-radial-gradient(50% 20%, circle, #f4fafe 60px, #a2d2ed 580px);
}
.field_with_errors {
    padding:0;
    margin:0;
    display:none;
    position:relative;
    left:46px;
}
#errmsg ul li {
    list-style-type:none;
    width:300px;
    color:red;
    position:relative;
    left:-90px;
}