// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
 padding-left:20px;
}
.home2 h1 {
    text-align:center;
}
.home2 {
    margin-bottom:15px;
}
.row {
    padding-left:30px;
}
.span3 ul ol {
    font-size:30px;
}
