// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    margin-left:4%;
}
.login ul li {
   margin-right:19%;

}
label.password {
    margin-left:7%;
}
.btn {
    margin-left:53%;
}