<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to ThatAccent.com, <%= @beta.email %></h1>
    <p>
      You have successfully signed up to ThatAccent.com<br/>
    </p>
    <p>
      To visit the site: <%= @url %>.
    </p>
    <p>Thanks for joining we will inform you as soon as beta is underway.</p>
    <p>Have a great day!</p>
  </body>
</html>